
@font-face {
    font-family: Parisienne;
    src: url("/static/fonts/Parisienne-Regular.ttf");
}

@font-face {
    font-family: Lora;
    src: url("/static/fonts/Lora-VariableFont_wght.ttf");
}

:root {
    --bg-brown: rgb(32, 25, 20);
}

body {
    background-color: var(--bg-brown);
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h2 {
    color: antiquewhite;
    font-size: 1.5em;
    font-family: Lora, serif;
    font-weight: normal;
}

h6 {
    color: antiquewhite;
    font-size: 1em;
    font-family: Lora, serif;
    font-weight: bold;
    margin: 0.5em 0em;
}

p {
    color: antiquewhite;
    font-family: Lora, serif;
    font-size: 1em;
}

a {
    color: antiquewhite;
    font-size: 1em;
    font-family: Lora, serif;
}

label {
    color: antiquewhite;
    display: block;
    font-size: 1.25em;
}

select {
    background-color: antiquewhite;
    color: rgb(32, 25, 20);
    text-align: center;
    font-family: Lora;
    font-size: 1em;
    border-radius: 0.25em;
    margin-bottom: 0.75em;
}

input, button {
    background-color: antiquewhite;
    color: rgb(32, 25, 20);
    text-align: center;
    font-family: inherit;
    font-size: 1em;
    border-radius: 0.25em;
    margin-bottom: 0.75em;
}

form {
    margin-bottom: 0;
}

.left, .right {
    flex: 1;
}

.center {
    text-align: center;
}

.header {
    display: flex;
    align-items: end;
    width: auto;
    background-color: antiquewhite;
    padding: 0.25em 1em;
    margin-bottom: 2em;
}

.logo {
    font-family: Parisienne, cursive;
    color: var(--bg-brown);
}

.logo_corner {
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.logo_large {
    font-size: 3.5em;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.title {
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.cookie_banner {
    align-content: center;
    background: antiquewhite;
    width: fit-content;
    border-radius: 0.5em;
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cookie_banner p {
    display: inline;
    color: var(--bg-brown);
    margin: 0;
}

.cookie_banner button {
    display: inline;
    margin: 0 0 0 0.5em;
    border-color: gray;
}

.main_link {
    display: block;
    font-size: 1.25em;
    margin: 0.5em 0em;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: calc( 100lvh - 119px - 49px );
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cellipse cx='50%25' cy='50%25' rx='calc(50%25 - 5px)' ry='calc(50%25 - 5px)' stroke='antiquewhite' stroke-width='5' fill='transparent'/%3E%3C/svg%3E");
}

.player {
    display: flex;
    /* flex-flow should be set by js depending on where the most space is */
    align-items: center;
    width: min-content;
}

.seat {
    width: 5em;
    height: 5em;
    margin: 0;
}

.hand {
    display: flex;
    flex-flow: row nowrap;
}

.flex_linebreak {
    width: 100%;
    height: 0;
}

.msg_list {
    /* Approximate height of all other elements */
    height: calc(100vh - 160px - 3.25em);
    overflow: scroll;
    box-sizing: border-box;
    padding: 1em;
    margin-bottom: 0.75em;
}

.msg_list p {
    margin: 0.25em 0;
}

.msg_form {
    width: 99%;
    /*
    position: fixed;
    bottom: 0;
    */
}

.msg_input {
    width: 90%;
    text-align: left;
}

.tooltip {
    position: relative;
    display: inline-block;
    --message: "Copy";
}

.tooltip:after {
    content: var(--message);
    position: absolute;
    left: 105%;
    top: 0;
    display: none;
    background: antiquewhite;
    color: var(--bg-brown);
    font-size: 0.9em;
    border-radius: 0.25em;
    padding: 0.125em 0.25em;
}

.tooltip:hover:after {
    display: block;
}

.error {
    color: red;
}
