{% extends "base.html" %}
{% block title %}Game {{ gameID }}{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/chatroom.js') }}" defer></script>
{% endblock %}
{% block content %}
    <p style="display: none" id="gameID">{{ gameID }}</p>

    <div id="main">
      <div class="center">
        <div>
          <a class="tooltip" id="game_link" href="http://localhost:5000/games/join/{{ gameID }}">
            localhost:5000/games/join/{{ gameID }}</a>
        </div>
      </div>

      <div class="msg_list" id="msg_list">
        <!-- Messages -->
      </div>

      <div class="center msg_form">
        <form id="msg_form">
          <input class="msg_input" id="msg_input" type="text" autocomplete="off">
          <input type="submit" value="send">
        </form>
      </div>
    </div>
{% endblock %}
