<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <title>{% block title required%}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block scripts %}{% endblock %}
    <script src="{{ url_for('static', filename='js/cookie_banner.js') }}" type="module"></script>
  </head>
  <body>
    <div class="header">
      <div class="left"><a class="logo logo_corner" href="/">onlinecards.uk</a></div>
      <div class="center"><h1 class="title">{{ self.title() }}</h1></div>
      <div class="right"></div>
    </div>

    {% block content required %}
    {% endblock %}
  </body>
</html>
