<!DOCTYPE html>
<html>
  <head>
    <title>Game {{ gameID }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div class="header">
      <div class="left"><a class="logo logo_corner" href="/">onlinecards.uk</a></div>
      <div class="center"><h1 class="title">Game {{ gameID }}</h1></div>
      <div class="right"></div>
    </div>

    <p style="display: none" id="gameID">{{ gameID }}</p>

    <div id="main">
      <div class="center">
        <div>
          <a class="tooltip" id="game_link" href="http://localhost:5000/games/join/{{ gameID }}">
            localhost:5000/games/join/{{ gameID }}</a>
        </div>
      </div>

      <div class="msg_list" id="msg_list">
        <!-- Messages -->
      </div>

      <div class="center msg_form">
        <form id="msg_form">
          <input class="msg_input" id="msg_input" type="text" autocomplete="off">
          <input type="submit" value="send">
        </form>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/chatroom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cookie_banner.js') }}"></script>
  </body>
</html>
