<html>
  <head>
    <title>Join Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div class="header"><a class="logo logo_corner" href="/">onlinecards.uk</a></div>

    <div class="center">
      <form id="join_form" action="/games/join/" method="GET">
        <div><label>Game ID</label></div>
        <div><input id="gameID" type="number"></div>
        <div><input type="submit" value="Join"></div>
      </form>

      <p class="error">{{ error }}</p>
    </div>

    <script src="{{ url_for('static', filename='js/games_join.js') }}"></script>
  </body>
</html>
