<!DOCTYPE html>
<html>
  <head>
    <title>onlinecards.uk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div class="header">
      <div class="left"></div>
      <div class="center"><a class="logo logo_large" href="/">onlinecards.uk</a></div>
      <div class="right"></div>
    </div>

    <div class="center">
      <a class="main_link" href="games/new">New Game</a>
      <a class="main_link" href="games/join">Join Game</a>
      <a class="main_link" href="rules">Rules</a>
    </div>

    <script src="{{ url_for('static', filename='js/cookie_banner.js') }}"></script>
  </body>
</html>
