<!DOCTYPE html>
<html>
  <head>
    <title>Whist Rules</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div class="header">
      <div class="left"><a class="logo logo_corner" href="/">onlinecards.uk</a></div>
      <div class="center"><h1 class="title">Whist Rules</h1></div>
      <div class="right"></div>
    </div>

    <div class="center">
      <h2>Base rules</h2>
      <p>
        Work in progress... please refer to
        <a href="https://en.wikipedia.org/wiki/Whist#Rules">Wikipedia</a>
      </p>

      <h2>Variations</h2>
      <p>
        Work in progress... please refer to
        <a href="https://en.wikipedia.org/wiki/Whist#Variants">Wikipedia</a>
      </p>
    </div>
  </body>
</html>
