{% extends "base.html" %}
{% block title %}Game {{ gameID }}{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/whist.js') }}" defer></script>
{% endblock %}
{% block content %}
<p style="display: none" id="gameID">{{ gameID }}</p>

<div class="center" style="margin-bottom: 1em">
  <div>
    <a class="tooltip" id="game_link" href="http://localhost:5000/games/join/{{ gameID }}">
      localhost:5000/games/join/{{ gameID }}</a>
  </div>
</div>

<div id="content" class="content">
</div>

<template id="table_template">
  <div class="table">
    <!-- This is the source code for the background image which is set in the css
      However, this must be escaped first using a tool such as:
      https://yoksel.github.io/url-encoder/
      <svg xmlns="http://wwww.w3.org/2000/svg" width="100%" height="100%">
      <ellipse cx="50%" cy="50%" rx="calc(50% - 5px)" ry="calc(50% - 5px)"
      stroke="antiquewhite" fill="transparent" stroke-width="5"
      />
      </svg>
    -->
    <div class="community_cards">
    </div>
  </div>
</template>

<template id="player_template">
  <div class="player">
    <div class="seat">
      <svg xmlns="http://wwww.w3.org/2000/svg" width="100%" height="100%">
        <circle cx="50%" cy="50%" r="calc(50% - 5px)"
        stroke="antiquewhite" fill="transparent" stroke-width="5" />
      </svg>
    </div>
    <div class="hand">
    </div>
  </div>
</template>

<template id="flex_linebreak_template">
  <div class="flex_linebreak"></div>
</template>

<template id="card">
</template>

{% endblock %}
